@using NbaRosManagementTool.Models;
@model NbaRosManagementTool.ViewModels.UserViewModel

@{
    ViewData["Title"] = "My team";
}

<h1>Current Squad</h1>

<p>@Model.userTeam.CityName   @Model.userTeam.TeamName</p>

@if (Model.userTeam.theRoster == null)
{
    <p>Roster is empty.</p>

}
else
{
    <table class="table-striped">
            <thead>
              <tr>
              <th>Players</th>
               <th>PPG</th>
              <th>Salary</th>
              </tr>
            </thead>
            <tbody>
                @foreach (Player p in Model.thePlayers)
                {
                    <tr>
                        <td> @p.FirstName @p.LastName</td>
                        <td>@p.PlayerRating</td>
                        <td> @p.Salary</td>
                        <td><input type="checkbox" name="playerIds" id="@p.ID" value="@p.ID" /></td>

                    </tr>
                }
            </tbody>
          </table>
 }
             
            <p>Cap Space Team Payroll</p>
            <p>@Model.userTeam.CapSpace  @Model.userTeam.TeamPayroll</p>
            <button type="button">Sign a free agrent</button>    <button type="button">Release a player</button>





