@model NbaRosManagementTool.ViewModels.InitialLoginViewModel
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@{
    ViewData["Title"] = "Choose your players";
    Model.PlayerList = Model.getPlayers(Model.TeamID);
}


    <h2>Choose your players.</h2>
    <label asp-for="TeamID"></label>
    <select asp-for="TeamID" asp-items="Model.TeamList" onchange="javascript: location.href = this.value;">
        <option selected="selected">
            @Model.theTeam.CityName @Model.theTeam.TeamName
        </option>
    </select>
    <span asp-validation-for="TeamID"></span>
    <form asp-controller="InitialLogin" asp-action="Add" method="post">
        <h2>@Model.theTeam.CityName @Model.theTeam.TeamName Roster</h2>

        <table class="table-bordered table-striped no-transparent rlstable">
            <tbody>
                <tr>
                    <th>Team Roster</th>
                </tr>
                <tr>
                    <th>Player</th>
                    <th class="col-lg-3">Player Rating</th>
                    <th class="col-lg-4">Salary</th>
                </tr>
                @foreach (Player p in Model.PlayerList)
                {
                    <tr>
                        <td>@p.FirstName @p.LastName</td>
                        <td class="col-lg-3 center">@p.PlayerRating</td>
                        <td class="center">@p.Salary</td>
                        <td><input type="checkbox" id="@p.ID" name="players" value="@p.ID" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="hidden" id="@Model.theUserTeam.ID" name="userTeamID" value="@Model.theUserTeam.ID" />
        <input type="submit" value="Add Player(s)" /><p class="error">@ViewBag.error</p>
    </form>
<div class="level">
    <form asp-controller="InitialLogin" asp-action="Remove" method="post">

        <h2>My Team - @Model.theUserTeam.CityName @Model.theUserTeam.TeamName</h2>
        <table class="table-bordered table-striped no-transparent rlstable">
            <tbody>
                <tr>
                    <th>Team Roster</th>
                </tr>
                <tr>
                    <th>Player</th>
                    <th class="col-lg-3">Player Rating</th>
                    <th class="col-lg-4">Salary</th>
                </tr>
                @foreach (Player p in Model.userPlayerList)
                {
                    <tr>
                        <td>@p.FirstName @p.LastName</td>
                        <td class="col-lg-3 center">@p.PlayerRating</td>
                        <td class="center">@p.Salary</td>
                        <td><input type="checkbox" id="@p.ID" name="players" value="@p.ID" /></td>
                    </tr>
                }
                @for (int i = 0; i < 15 - Model.userPlayerList.Count; i++)
                {
                    <tr>
                        <td>-</td>
                        <td class="col-lg-3">-</td>
                        <td>-</td>
                    </tr>
                }
                <tr>
                    <th>Salary Cap</th>
                    <th class="col-lg-3">Cap space</th>
                    <th class="col-lg-4">Total Salaries</th>
                </tr>
                <tr>
                    <td>105,000,000</td>
                    @if (@Model.theUserTeam.CapSpace > 0)
                    {
                        <td class="col-lg-3 green ">@Model.theUserTeam.CapSpace</td>
                    }
                    else
                    {
                        <td class="col-lg-3 in_the_red ">@Model.theUserTeam.CapSpace</td>
                    }

                    <td>@Model.theUserTeam.TeamPayroll</td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" id="@Model.theUserTeam.ID" name="userTeamID" value="@Model.theUserTeam.ID" />
        <button type="submit" name="action" value="release">Release Player(s)</button>
        <h4>Best teams list rules</h4>
        <p>-Roster has to have minimum of 13 players, 15 max.</p>
        <p>-Total salary must be under cap to submit team.</p>
    </form>
</div>





